{
    "sg_path":"/home/corerain/workspace/Node_Server/sg_file",
    "breathe_time_step":30,
    "cn_port": 6778,
    "tcp_timeout": 5,
    "tasks_info":[
        {
            "task":0,
            "threshold":[
                0.5
            ]
        },
        {
            "task":1,
            "threshold":[
                0.5
            ]
        },
        {
            "task":2,
            "threshold":[
                0.5
            ]
        },
        {
            "task":3,
            "threshold":[
                0.5
            ]
        },
        {
            "task":4,
            "threshold":[
                0.5
            ]
        },
        {
            "task":5,
            "threshold":[
                0.5
            ]
        }
    ],
    "decoding_node_list":[
        {
            "ip":"192.168.0.182",
            "port":6878,
            "video_computing_pair":[
                {
                    "addr":"rtsp://admin:letmein1@192.168.0.189:554/h264/ch34/main/av_stream",
                    "tasks":[
                        0,
                        1,
                        2,
                        3,
                        4,
                        5
                    ],
                    "roi_list":[
                        [
                            0.5,
                            0,
                            0,
                            0.5
                        ],
                        [
                            0.5,
                            0,
                            0,
                            0.5
                        ],
                        [
                            0.5,
                            0,
                            0,
                            0.5
                        ],
                        [
                            0.5,
                            0,
                            0,
                            0.5
                        ],
                        [
                            0.5,
                            0,
                            0,
                            0.5
                        ],
                        [
                            0.5,
                            0,
                            0,
                            0.5
                        ]
                    ]
                }
            ]
        }
    ]
}