{
  "breathe_time_step": 1,
  "reconn_time_step": 30,
  "hardware_type": "CPU",
  "port": 6878,
  "computing_node_list": [
    "192.168.0.182"
  ],
  "decoding_addr_list": [
    {
      "addr": "rtsp://admin:letmein1@192.168.0.201:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },
        {
      "addr": "rtsp://admin:letmein1@192.168.0.203:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },
    {
      "addr": "rtsp://admin:letmein1@192.168.0.204:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },   
    {
      "addr": "rtsp://admin:letmein1@192.168.0.205:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },
    {
      "addr": "rtsp://admin:letmein1@192.168.0.241:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },
    {
      "addr": "rtsp://admin:letmein1@192.168.0.242:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },
    {
      "addr": "rtsp://admin:letmein1@192.168.0.243:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    },
    {
      "addr": "rtsp://admin:letmein1@192.168.0.244:554/h264/ch1/main/av_stream",
      "decoding_type": "full",
      "computing_nodes": [
        {
          "ip": "192.168.0.182",
          "extraction_rate": 1
        }			  
      ]
    }
  ]
}